CovidSoapClient/xml-resources/web-service-references/CovidWebService/wsdl/localhost_8080/CovidSoapService/CovidWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://myservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://myservice/" name="CovidWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://myservice/" schemaLocation="http://localhost:8080/CovidSoapService/CovidWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="FindCovidWeekDataById">
<part name="parameters" element="tns:FindCovidWeekDataById"/>
</message>
<message name="FindCovidWeekDataByIdResponse">
<part name="parameters" element="tns:FindCovidWeekDataByIdResponse"/>
</message>
<message name="UpdateCovidWeek">
<part name="parameters" element="tns:UpdateCovidWeek"/>
</message>
<message name="UpdateCovidWeekResponse">
<part name="parameters" element="tns:UpdateCovidWeekResponse"/>
</message>
<message name="MalformedURLException">
<part name="fault" element="tns:MalformedURLException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<portType name="CovidWebService">
<operation name="FindCovidWeekDataById">
<input wsam:Action="http://myservice/CovidWebService/FindCovidWeekDataByIdRequest" message="tns:FindCovidWeekDataById"/>
<output wsam:Action="http://myservice/CovidWebService/FindCovidWeekDataByIdResponse" message="tns:FindCovidWeekDataByIdResponse"/>
</operation>
<operation name="UpdateCovidWeek">
<input wsam:Action="http://myservice/CovidWebService/UpdateCovidWeekRequest" message="tns:UpdateCovidWeek"/>
<output wsam:Action="http://myservice/CovidWebService/UpdateCovidWeekResponse" message="tns:UpdateCovidWeekResponse"/>
<fault message="tns:MalformedURLException" name="MalformedURLException" wsam:Action="http://myservice/CovidWebService/UpdateCovidWeek/Fault/MalformedURLException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://myservice/CovidWebService/UpdateCovidWeek/Fault/IOException"/>
</operation>
</portType>
<binding name="CovidWebServicePortBinding" type="tns:CovidWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="FindCovidWeekDataById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateCovidWeek">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MalformedURLException">
<soap:fault name="MalformedURLException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CovidWebService">
<port name="CovidWebServicePort" binding="tns:CovidWebServicePortBinding">
<soap:address location="http://localhost:8080/CovidSoapService/CovidWebService"/>
</port>
</service>
</definitions>