CovidSoapClient/xml-resources/web-service-references/CovidWebService/wsdl/localhost_8080/CovidSoapService/CovidWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://myservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://myservice/">

<xs:element name="FindCovidWeekDataById" type="tns:FindCovidWeekDataById"/>

<xs:element name="FindCovidWeekDataByIdResponse" type="tns:FindCovidWeekDataByIdResponse"/>

<xs:element name="IOException" type="tns:IOException"/>

<xs:element name="MalformedURLException" type="tns:MalformedURLException"/>

<xs:element name="UpdateCovidWeek" type="tns:UpdateCovidWeek"/>

<xs:element name="UpdateCovidWeekResponse" type="tns:UpdateCovidWeekResponse"/>

<xs:complexType name="FindCovidWeekDataById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FindCovidWeekDataByIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateCovidWeek">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="UpdateCovidWeekResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MalformedURLException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>